.registerContainer{
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerSection{
    height: 70%;
    width: 28%;
    background-color: rgb(255, 250, 250);
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 5px 9px -5px rgba(0,0,0,0.72);
}
.registerSection .h2{
    font-weight: bold;
    font-size: 20px;
}
input,  button{
    border: none;
}
.registerSection input{
    margin-bottom: 10px;
}
input{
    height: 7%;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    border: 2px inset ;
    border-radius: 5px;
    outline: none;
    box-shadow: inset -2px -2px 20px -22px #080808;
    padding: 2px 10px;
}
.inputname, .inputemail, .inputpass, .inputpass2{
    margin-top: 15px;
}
input:focus{
    border-color: rgb(228, 65, 78);
}
small{
    color: red;
    font-weight: bold;
}
.registerBtn{
    height: 8%;
    box-shadow: 4px 5px 9px -5px rgba(0,0,0,0.72);
    border-radius: 3px;
    outline: none;
    background-color: rgb(253, 53, 53);
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}
.registerBtn:hover{
    cursor: pointer;
    background-color: rgb(250, 78, 78);
}
.inputfield, .registerBtn{
    margin-top: 5%;
}
.logintoaccount{
    text-align: center;
    margin-top: 5%;
    font-weight: 600;
}
@media screen and (max-width: 480px) {
    .registerSection{
        height: 80%;
        width: 90%;
    }
    .registerBtn{
        font-size: 1.5em;
    }
}
@media screen and (max-height: 480px){
    .registerContainer{
        overflow-y: scroll;
    }
    .registerSection{
        height: 100%;
    }
    
}