.mgs{
	max-width: 90%;
	background-color: rgb(136, 135, 135);
	color: white;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
	word-break: break-all;
}
.ownmgs{
	max-width: 95%;
	color: white;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
	background-color: red;
	word-break: break-all;
}
.time{
	margin-left: 75%;
    color: rgb(90, 90, 90);
    font-size: .6em;
} 

.messagebox{
	max-width: 70%;
	display: flex;
	flex-direction: column;
}