.oldconversation{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.oldconversationheader{
    display: flex;
    background-color: rgb(71, 71, 71);
    width: 100%;
    height: 5%;
    align-items: center;
}
.oldconversationheader h3{
    margin-left: 5px;
    color: white;
    font-size: 1.5vw;
}
.oldconversationheader:first-child{
    color: white;
    font-size: 3vmin; 
}
.conversationContainer{
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 252);
    overflow-Y: scroll;
    box-shadow: 10px 15px 15px -20px rgb(0,0,0) inset;
}
.namepic{
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    margin: 10px;
    font-family: 'Rubik', sans-serif;
}
.pic{
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    border: 4px solid rgb(218, 215, 215);
    margin-right: 10px;
    color: gray;
}
.onlineUser{
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    border: 4px solid rgb(30, 255, 0);
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .oldconversation h3{ font-size: 100%;}
}