.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}
.homeContainer{
    height: 90%;
    width: 80%;
    display: flex;
}
.appname{
    font-size: 3vmin;
    font-weight: bolder;
    width: 10%;
    height: 4%;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 3px 5px rgba(0,0,0,0.75);
}
@media screen and (max-width: 768px) {
    .appname{ display: none}
    .homeContainer{
        height: 85%;
        width: 95%;
    }
}